# Data Structures- Python

#int, float, bool

#strings

#list

#tuple

#dict

In [19]:
#int
a=7
print(a)
type(a)

7

int

In [20]:
#float
b=0.8
b
type(b)

float

In [21]:
#Python as calculator: Arithmetic Operations
sum=a+b
sum

7.8

In [22]:
sub=20-19
sub

1

In [30]:
product=5*20
product

100

In [24]:
product1=a*b
product1

5.6000000000000005

In [29]:
#Division returns float type
division=20/5
print(division)
print("product of a and b is:",product1)

4.0
product of a and b is: 5.6000000000000005

In [26]:
#Bool
logical=True
type(logical)

bool

In [27]:
5>4

True

In [2]:
#strings
text='Introduction to Python'
type(text)

str

In [3]:
#Arithmetic operations on text
#+ concatenates two strings
text1=' and data manipulation with python'
topic=text+text1 #text and text1 same type
topic

'Introduction to Python and data manipulation with python'

In [4]:
text+2

TypeError: can only concatenate str (not "int") to str

In [5]:
text+"2"

'Introduction to Python2'

In [6]:
text+str(2)

'Introduction to Python2'

In [8]:
text  * 3

'Introduction to PythonIntroduction to PythonIntroduction to Python'

In [9]:
#Question: Can a variable name start with a number in Python?
5_x=3

SyntaxError: invalid token (<ipython-input-9-66a335e08835>, line 2)

In [10]:
_x=3 #Variable name can start with _
_x

3

#Class Exercise

Print the word 'Hello world'

Give output of the value of x is 10

Give output of the type of x

Give output in the form of 'the value of x is 10'.

Print boolean type of variable

Do mathematical operations on two numbers(x=10, y=8)

Print 2 to the power 4

Print 7 to the power 5

Apply relational operators on two numbers (>,<,>=,<=,==)

Apply logical operator on two numbers(and, or, not)

In [11]:
#Print the word 'Hello world'
print("Hello World")

Hello World

In [12]:
#Give output of the value of x is 10#
x=10
x

10

In [13]:
#Give output of the type of x
type(x)

int

In [15]:
#Give output in the form of 'the value of x is 10'.
print("The value of x is ",x)

The value of x is  10

In [16]:
#Print boolean type of variable
B=True
B

True

In [22]:
#Do mathematical operations on two numbers(x=10, y=8)
x=10
y=8
print(x+y)
print(x-y)
print(x*y)
print(x/y)

18
2
80
1.25

In [25]:
#Print 2 to the power 4
print(2**4)
#Print 7 to the power 5
print(7**5)

16
16807

In [ ]:
#Apply relational operators on two numbers (>,<,>=,<=,==)

In [17]:
#Apply logical operator on two numbers(and, or, not)
y=5

In [24]:
#x=not y
#print(x)
x!=y

True

In [21]:
x>5 and y<4

False

In [23]:
x>5 or y>4

True

In [ ]:
# strings, list, tuple and dict are iterables
 #Iterable: When you can iterate over an object(access each element in the object)[give ability to do index and write for loop]
#Iterator: Iterables returns iterators

In [26]:
#strings
s="saturday"
print(s)

saturday

In [27]:
s[1]

'a'

In [28]:
s[0]

's'

In [29]:
s[2:5]
#[start:end] end is exclusive

'tur'

In [30]:
s[:4]

'satu'

In [31]:
s[2:]

'turday'

In [32]:
#s[-1]=s[7]
s[-1]

'y'

In [34]:
s[::3]#(start:end:step)

'sua'

In [36]:
s[::-2]

'ydua'

In [37]:
s[:-2]

'saturd'

In [38]:
for i in s:
    print(i)

s
a
t
u
r
d
a
y

In [39]:
type(i)

str

In [43]:
#user input
new=input()

thank

In [50]:
new1=input()
type(new1)

7.8

str

In [46]:
new1=str(input())

8

In [47]:
word=input("enter the letter")

enter the letterwelcome

In [52]:
#simple if statement
x=65
if x>40:
    print('pass')
#print('Better luck next time')

pass

In [54]:
#if else statement
x=20
if x>40:
    print('pass')
else:
    print('Better luck next time')

Better luck next time

In [57]:
#if- elif statement
x=75
if x>61:
    print('first class')
elif 40<x<=60:
    print(" second class")
else:
    print("pass")

first class

In [60]:
#nested if statement
x=50
y=86
if x>40:
    if y>80:
        print("Good")
else:
    print('Bad')

Good

#Class Exercise
1. Create int object and convert it into string object
x=4
y=str(x)

2. Create 2 string objects and do concatenation
first="welcome'
second="to the country"
print(first+second)

3.Do indexing on string object :
    extract from 1 st element
    
    first[0:]
    first[:]
    
    extract from last element(negative index)
    
    first[:-1] (end is exclusive)
    
    extract range of elements
    
    first[3:5]
    
    Apply double colon
    
    first[::2]
   
    
 4. By using user input function to create int variable
 x=int(input()) (or) x=input()
 
5. create for loop on string object

for t in first:
    print(t)
    
6. create if else, if-elif, nested if statements

if first[0]=='W':
    print("Hello")
elif first[3]=='c':
    print('Bye')
else:
    print("None")

In [1]:
x=True
y=not x
print(y)

False

In [3]:
a=5
b=4
(a>3) | (b==4)

True

#Recap
Data Science Process
Python
Data Structures (int, float, strings)
iterable and iterator
indexing/slicing, loop

In [9]:
#strings are immutable
first="welcome"
second="to the country"
first[0]='S'

TypeError: 'str' object does not support item assignment

In [10]:
 if first[0]=="w":
        first='Welcome'
    
first

'welcome'

In [12]:
# Alternative method 
#Change 3rd position element
first1= first[:3]+"t"+first[4:]
print(first1)

welctome

In [14]:
#add element inbetween
first1= first[:4]+"t"+first[4:]
print(first1)

welctome

In [15]:
s='saturday'
print(dir(s))   # returns associated function and methods with the given object

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
upper(s)

NameError: name 'upper' is not defined

In [17]:
s.upper()

'SATURDAY'

In [19]:
s.capitalize()

'Saturday'

In [18]:
?s.upper

In [20]:
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [ ]:
#function and methods
#Functions are called by its name
#Functions are independent of object or class
#Objects are passed explicitly
#Aimed to perform a particular task

In [ ]:
#Methods are called by its name
#Methods are dependent/associated with on object

In [ ]:
#Functions:
#user defined [has name, it helps to divide programs into modules, make the code easier to manage] 
#built in functions [len(), min(),max(),type()...]
#lambda function [doesn't need name. Use lambda keyword]

In [21]:
#user defined
#def keyword before a name is to be followed by () and colon
def hello():
    print( "hello")
    #return "hello"

In [22]:
def hello1():
    return "hello"

In [27]:
hello()

hello

In [23]:
x=hello()
print(x)

hello
None

In [26]:
x=hello1()
print(x)

hello

In [28]:
#lambda fun
#syntax:lambda arguments:expression
#[can have more arguments, but only one expression]
square=lambda x:x**2

In [29]:
square(3)

9

In [31]:
sum1=lambda x,y:x+y
sum1(2,3)

5

In [32]:
def square(x):
    return x**2

In [33]:
square(3)

9

In [35]:
assign_txt="this is a sentence with a number 56 here and 72 here"

In [ ]:
#1.figure out programatically how many times 'here'occurs
#2.count how many time numbers occur in this sentence

In [37]:
print(dir(assign_txt))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [38]:
#1.figure out programatically how many times 'here'occurs
assign_txt.count("here")

2

In [39]:
assign_txt.count("with")

1

In [45]:
#2.count how many time numbers occur in this sentence
count=0
for i in assign_txt.split(" "):
    if i.isnumeric():
        count=count+1
        #count+=1
        print(i)
print(count)

56
72
2

In [46]:
#Lists
#An ordered sequence of values enclosed within square-brackets.
#Lists are mutable: can be modified.
#Very important and useful data structure in the study of AI, ML, DL etc.
# List can contain multiple data types
#A mutable ordered sequence of elements,contained within square brackets [].
#lists are iterbles
#mixed type
newlist=[5,5.5,"Age",True]
newlist

[5, 5.5, 'Age', True]

In [48]:
#lists are mutable
newlist[0]=6
newlist

[6, 5.5, 'Age', True]

In [49]:
#create empty list
ls=[]   #or
ls1=list() 
print(ls)

[]

In [50]:
#list of numbers
#list of strings
ls1=[1,2,3,4]
ls2=["r","t","p"]

In [51]:
#extract 2nd element from 'newlist'
newlist[1]

5.5

In [52]:
newlist[2:5]

['Age', True]

In [53]:
newlist[:]

[6, 5.5, 'Age', True]

In [54]:
newlist[3:]

[True]

In [56]:
#extract 'g' from newlist
newlist=[5,5.5,"Age",True]
newlist[2][1]

'g'

In [57]:
newlist[2][2]

'e'

In [59]:
#extract the list [3,4]
#extract '4'
ls3=[25, 31,[3,4], -5]
print(ls3[2])
print(ls3[2][1])

[3, 4]
4

In [63]:
#Class exercise
#How to extract 89
first=[-2, 34, 5, [56,81, [43,89], 67 ], 10, 23]
first[3][2][1]

89

In [64]:
#How to extract 'e'
ls4=[3.5, 'Tiger', 10, [3,4]]
ls4[1][3]

'e'

In [65]:
print(dir(ls4))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [72]:
#extend
ls1= [1,2,3]
ls2= [5,6]
ls1.extend(ls2)   #extend a list
print(ls1)
print(ls2)
print(ls3)

[1, 2, 3, 5, 6]
[5, 6]
None

In [76]:
#append
newlist.append(8)
newlist

[5, 5.5, 'Age', True, 10, 10, 8]

In [ ]:
?newlist.insert
#newlist.insert(index,value)

In [78]:
newlist.insert(0,8)
newlist

[8, 8, 5, 5.5, 'Age', True, 10, 10, 8]

In [79]:
#pop
newlist.pop()

8

In [80]:
newlist

[8, 8, 5, 5.5, 'Age', True, 10, 10]

In [81]:
newlist.pop(2)

5

In [82]:
newlist

[8, 8, 5.5, 'Age', True, 10, 10]

In [83]:
#remove
newlist.remove(5.5)

In [84]:
newlist

[8, 8, 'Age', True, 10, 10]

In [88]:
#reverse
ls1= [1,2,3]
ls1.reverse()
ls1

[3, 2, 1]

In [89]:
#index (returns position of the element)
ls1.index(1)

2

In [90]:
### Applying + and * on lists
ls1=[1,2,3]
ls2=[5,6,7]
print(ls1 + ls2)

[1, 2, 3, 5, 6, 7]

In [91]:
# the * operator on lists does repetition of the lists
ls1=[1,2,3]
print(ls1 * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#List slicing
#listname[start:end]
t=['a','b','c','d','e']
#1 
print(t[2:4])    # 2, 3

#2
print(t[:3])   # 0,1,2

#3
print(t[1:])  # 1 till end

#4
print(t[:])   # from 0 till end - full list

#5
print(t[:-2])  # from 0 till -3

#6
print(t[::-1])  # reverse

In [92]:
#Sort the list in ascending order
sorted(ls1) #explicitly passed the object 'l'

[1, 2, 3]

In [93]:
#Sort in descending order
sorted(ls1,reverse=True)

[3, 2, 1]

In [94]:
new=['u','i','a']
sorted(new)

['a', 'i', 'u']

In [95]:
new

['u', 'i', 'a']

In [104]:
#difference between function and method [sorted()fun  and sort() method]
#sort method
new.sort()

In [97]:
new

['a', 'i', 'u']

In [108]:
second=[9,2,3]
sorted(second)

[2, 3, 9]

In [109]:
second

[9, 2, 3]

In [110]:
second.sort()

In [111]:
second

[2, 3, 9]

In [ ]:
#len(), min(),max()

In [114]:
#Exercises:
# copying one list from the other OR creating one list from existing list
list2=[1,2,5,2,1,3,2,10]
list3=list2            #'=' will affect the original list
list3

[1, 2, 5, 2, 1, 3, 2, 10]

In [116]:
# Change one value in ls2, it affects ls1 as well
list3[0]=9
print(list3)
print(list2)

[9, 2, 5, 2, 1, 3, 2, 10]
[9, 2, 5, 2, 1, 3, 2, 10]

In [117]:
list3=list2.copy() # copy method will not affect the original list
print(list3)
print(list2)

[9, 2, 5, 2, 1, 3, 2, 10]
[9, 2, 5, 2, 1, 3, 2, 10]

In [118]:
list3[0]=7
print(list3)
print(list2)

[7, 2, 5, 2, 1, 3, 2, 10]
[9, 2, 5, 2, 1, 3, 2, 10]

In [122]:
# split the dates into day, month and year
dt="13-04-2019"
dt.split("-")

['13', '04', '2019']

In [123]:
#loop
for i in list3:
    print(i)

7
2
5
2
1
3
2
10

In [ ]:
#List Comprehension
#one line expression of for loop

In [134]:
a=[1,2,3,4]

In [129]:
#create a list which has square of the elements in the list a
#for loop
b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16]

In [130]:
#list comprehension
[i**2 for  i in a]

[1, 4, 9, 16]

In [142]:
#map function
def square(x):
    return x**2

In [143]:
x=square(2)
print(x)

4

In [144]:
#map function (applies a function on a given iterable)
#syntax:map(fun,iterable)
b=[3,4,5]
list(map(square,b)) #returns generator object (wrap it out by list)

[9, 16, 25]

In [145]:
#lambda function
list(map(lambda x:x**2,a))

[1, 4, 9, 16]

In [19]:
###Day 3

#Exercise
#Given this nested list, use indexing to grab the word "hello"
w = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
w[3][1][2][0]

'hello'

In [3]:
#Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'
#use filter() function
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]!='s',seq))

['dog', 'cat', 'great']

In [4]:
#method 2:
for x in seq:
    if x[0]!='s':
        print(x)

dog
cat
great

In [21]:
# Given a two list. Create a third list by picking an odd-index element from the first list
#and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
odd=listOne[1::2]
print(odd)
even=listTwo[0::2]
print(even)

listthree=[]

listthree.extend(odd)
listthree.extend(even)

print(listthree)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [22]:
#alternate way
listthree=odd+even

In [27]:
# Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list
sampleList = [54, 44, 27, 79, 91, 41]

element=sampleList.pop(4)
sampleList.insert(2,element)
sampleList.append(element)

In [24]:
sampleList

[54, 44, 91, 27, 79, 41, 91]

In [28]:
Cities=['Delhi','pune','chennai','kol']
#filter the list whether length of the element is greater thatn 6.
for i in cities:
    if len(i)>6:
        print(i)

chennai

In [29]:
#list comprehension
[i for i in cities if len(i)>6]

['chennai']

In [31]:
#filter and lambda
list(filter(lambda x: len(x)>6,cities))

['chennai']

In [39]:
#class exercise
email = "chetana@gmail.com"
# separate name and domain name 
# name = xyz, domain = gmail.com
email.split('@')

['chetana', 'gmail.com']

In [38]:
#Adding 1 value to each elemetn in the list:
l=[1,2,3,4,5]
for i in l:
    i=i+1
    print(i)

2
3
4
5
6

In [33]:
#List comprehension
[i+1 for i in l]

[2, 3, 4, 5, 6]

In [40]:
#lambda fn
list(map(lambda i:i+1,l))

[2, 3, 4, 5, 6]

# Tuple

A tuple is a sequence of items, similar to lists.

Tuple is denoted by ()

The values stored in the tuple can be of any type and they are indexed using integers.

Tuples are immutable.

Tuples are iterables.

Hence, they can be made as keys in dictionaries.

In [43]:
 #Create empty tuple
t1=()  #or
t2=tuple()
print(t1)
print(t2)
print(type(t1))
print(type(t2))

()
()
<class 'tuple'>
<class 'tuple'>

In [44]:
t3=(3,4,5)
t3

(3, 4, 5)

In [46]:
print(dir(t3))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [48]:
j=(1,2,3,'hi',7)
j

(1, 2, 3, 'hi', 7)

In [53]:
#indexing
#extract 'hi'
#extract the range of items like position 3 to 5
print(j[3])
print(j[1:4])
print(j[:])

hi
(2, 3, 'hi')
(1, 2, 3, 'hi', 7)

In [51]:
s=(5,6,"wel",[2,3,7],["horse","pig"])
s

(5, 6, 'wel', [2, 3, 7], ['horse', 'pig'])

In [55]:
#extract "horse"from tuple s
#extract 'i'
#extract  7
s[4][0]

'horse'

In [58]:
s[4][1][1]

'i'

In [60]:
s[3][2]

7

In [62]:
#for loop
for i in s:
    print(i)

5
6
wel
[2, 3, 7]
['horse', 'pig']

In [63]:
s[-2]

[2, 3, 7]

In [66]:
x=10
y=20

# swapping numbers
x,y=y,x
print("x is",x, " and y is ",y)

x is 20  and y is  10

# Dictionary

#Dict[Key:value pairs,{}]
#A collection of unordered set of key:value pairs
#keys are unique in one dictionary.
#the values in dictionary are accessed using keys, not indices
#A key in dictionary can be any immutable type like strings, numbers and tuples.

In [70]:
# Creating empty dictionary
d = {}         # empty list: [] or list(), empty tuple:  () or tuple()
print(d)

d1=dict()
print(d1)

print(type(d))

{}
{}
<class 'dict'>

In [72]:
d3={'first':4,'second':9}
d3

{'first': 4, 'second': 9}

In [74]:
d4={'first':[1,2,3],'second':["a","b"],'third':(5,6,7),'fourth':'jigsaw'}
d4

{'first': [1, 2, 3],
 'second': ['a', 'b'],
 'third': (5, 6, 7),
 'fourth': 'jigsaw'}

In [78]:
#extract [1,2,3] from d4
d4['first']

[1, 2, 3]

In [80]:
#extract 'b'
d4['second'][1]

'b'

In [81]:
#extract 'w'
d4['fourth'][5]

'w'

In [85]:
#Extract 'z'
d1={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
d1['one']['el_one'][3]['el_two']

'z'

In [88]:
# Extract "merge"
#extract 3
dict1={'new':[9,4,5,["split","merge",10]],'old':("se",17,0),'mid':{'junaid':2,'shivani':3,'last':"poor"}}
dict1['mid']['shivani']

3

# Files

Reading files

Manipulating data in file objects

Writing out files

In [91]:
f=open('D://Files//sample.txt','r')
fo=f.read()
print(fo)
print(type(f))
print(type(fo))
f.close()

I would love to try or hear the sample audio your app can produce. I do not want to purchase, because I've purchased so many apps that say they do something and do not deliver.

Can you please add audio samples with text you've converted? I'd love to see the end results.

Thanks!
<class '_io.TextIOWrapper'>
<class 'str'>

In [90]:
fo[0:7]

'I would'

In [95]:
g=open('D://Files//copy.txt','w')
for i in fo:
    g.write(i)
print(g)
g.close()

<_io.TextIOWrapper name='D://Files//copy.txt' mode='w' encoding='cp1252'>

In [96]:
with open("D://Files//sample1.txt","r") as g:
    dat=g.read()
print(dat)

Age	Customer	Income	Location
30	A	1200	A1
32	B	1333	A2
33		Missing	NA

###Recap Exercises- Data Structures (lists, tuple, dictionary)
1. Create list, tuple and dictionary

ls=[1,2,'p',9]
t=(1,5,'i')
d={'w':0,'y':9}

#for loop in dictionary
for i in d:
    print(i)
2. pop(), remove(),sort()- methods on list

3. Find the product of two numbers using user defined function, lambda function , for loop, map(), list comprehension

In [99]:
d={'w':0,'y':9}
for i in d:
    print(d[i])

0
9